<p id="notice"><%= notice %></p>

<h1>Listing Musicos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Paterno</th>
      <th>Materno</th>
      <th>Usuario</th>
      <th>Instrumento</th>
      <th>Usuario</th>
      <th>Instrumento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musicos.each do |musico| %>
      <tr>
        <td><%= musico.nombre %></td>
        <td><%= musico.paterno %></td>
        <td><%= musico.materno %></td>
        <td><%= musico.usuario_id %></td>
        <td><%= musico.instrumento_id %></td>
        <td><%= link_to 'Show', musico %></td>
        <td><%= link_to 'Edit', edit_musico_path(musico) %></td>
        <td><%= link_to 'Destroy', musico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Musico', new_musico_path %>
