<p id="notice"><%= notice %></p>

<h1>Listing Bandas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Genero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandas.each do |banda| %>
      <tr>
        <td><%= banda.nombre %></td>
        <td><%= banda.genero %></td>
        <td><%= link_to 'Show', banda %></td>
        <td><%= link_to 'Edit', edit_banda_path(banda) %></td>
        <td><%= link_to 'Destroy', banda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banda', new_banda_path %>
